.post-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 25px;
}

.post-container h1 {
    line-height: 1;
}

.post-desc {
    margin-top: -10px;
    margin-bottom: 25px;
}

.post-author-section {
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
}

.post-author-section p {
    margin-top: 8px;
}

#post-user-icon {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(236, 171, 171);
    border-radius: 50%;
}

#post-user-icon:hover {
    transform: scale(1.04);
    transition: all 0.2s ease;
    cursor: pointer;
}

.post-author-section:hover p {
    text-decoration: underline;
}

span.post-created-date {
    padding-top: 10px;
}

.post-container button {
    align-self: center;
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(243, 226, 219);
    border: none;
    border-radius: 15px;
}

.post-container button:hover {
    transform: scale(1.04);
    transition: all 0.2s ease;
    cursor: pointer;
}